# from my.telegram.org/apps
API_ID=32360468
API_HASH=62ac014240c5613eb2805aeb028ce18a

# from @BotFather on telegram
BOT_TOKEN=8265521466:AAFgzAW39Fl-Hu0de-YQTOyjNyCfeNDW8RU
LOGGER_ID=-1003790606640

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://sparshshivare2606:sparshs2607@cluster0.cvditmt.mongodb.net/?appName=Cluster0

OWNER_ID=8672448741

# pyrogram session from @StringFatherBot on telegram
SESSION=BQFwyZ4AfQdCPf-uEp71UxdiwSJ36aYYZ5JQur_OARmIIj4s1x4ov-2tBpYwZ1_RqeZTETpD_NTa7FiGjPBLasW1uSoa5ot52xJmLx6I7pv4rI6CMG3Rsc2LbLrTLSyK9_5erFYIJP13avP56StRPJZ-pbYgCx72azRh1PLvMgpSuzPJQlstc4ieKGmANbFs6PYMbPDelqiRV8GrOLai6B8IlOv2PV23RXXF6uaJFAm1BKUPEhywWbgsQhvJ34yNUaEq_QCElz3-JrCp_SrSaCEhAAWG2I6ggsbTvvpI_0jAJ4XeybCO89W1La6MSPXts4m90P5LRlldaLJW4sl8UA5DH3lvQwAAAAGCL8peAA
DB_NAME=baniya_v3
START_IMG=https://i.ibb.co/G3JX0JJS/x.jpg
